*.com
*.pyc
*.o
*.so
*.d
._*
*.root
!UWAnalysis/CRAB/MuNu/plots/Datacards_*root
*.log
!UWAnalysis/CRAB/MuNu/plots/Datacards_*log

.todo
*.png
*.eps
*.pdf
*.zip
*.tgz
*.txt
*.pkl
*AutoDict*
*CVS*
.#*
*temp*

*.history
*bk
*.swp
*nohup.out
*__afs*
*callgrind*
aTGCRooStats/run_*
aTGCRooStats/root_*
multicrab_*
